In [1]:
def lesser_of_two_evens(a,b):
    if (a%2==0) and (b%2==0):
        if a<b:
            return a
        else:
            return b
    else:
        if a>b:
            return a
        else:
            return b

In [2]:
lesser_of_two_evens(5,2)

5

In [3]:
lesser_of_two_evens(2,4)

2

In [4]:
def animal_crackers(text):
    x=text.split()
    if x[0][0]==x[1][0]:
        return True
    else:
        return False

In [6]:
animal_crackers('krazy kan')

True

In [7]:
def makes_twenty(n1,n2):
    if n1+n2==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [9]:
makes_twenty(2,10)

False

In [15]:
def old_macdonald(name):
    return (name[0].upper()+name[1:3]+name[3].upper()+name[4:])
old_macdonald('macdonald')

'MacDonald'

In [18]:
def master_yoda(text):
    temp=text.split()
    x= temp[::-1]
    new=" ".join(x)
    return new

In [20]:
master_yoda('I am home')

'home am I'

In [21]:
def almost_there(n):
    if (n>=190 and n<=210) or (n>=90 and n<=110):
        return True 
    else:
        return False

In [23]:
almost_there(150)

False

In [32]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True            
    return False
has_33([0,3,3,1])

True

In [33]:
def paper_doll(text):
    new_word=''
    for i in text:
        new_word += i*3
    return new_word
paper_doll('paper')

'pppaaapppeeerrr'

In [38]:
def blackjack(a,b,c):
    if a<=11 and b<=11 and c<=11 and a>=0 and b>=0 and c>=0:
        if a+b+c<=21:
            return a+b+c
        elif a+b+c>21 and(a==11 or b==1 or c==11):
            return a+b+c-10
        else:
            return ('BUST')
blackjack(9,9,9)

'BUST'

In [45]:
def count_primes(num):
    count=0
    add=True
    for x in range(2,num):
        for y in range(2,x):
            if x%y==0:
                add=True
            else:
                add=False
        if add==True:
            count+=1

    return count        
count_primes(100)

1

In [46]:
def vol(rad):
    return 4*3.14*rad**3/3

In [47]:
vol(2)

33.49333333333333

In [48]:
def ran_check(num,low,high):
    return num>low and num<high

In [50]:
ran_check(12,2,11)

False

In [54]:
def up_low(s):
    lower=0
    upper=0
    for i in s:
        if i.isupper():
            upper+=1
        elif i.islower():
            lower+=1
    return upper,lower

In [55]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

(4, 33)

In [ ]:
def unique_list(lst):
    new_lst=[]
    for item in lst:
        for other in lst:
            if item == other

In [60]:
def multiply(numbers):
    mul=1
    for num in numbers:
        mul=mul*num
    return mul

In [61]:
multiply([1,2,3,-4])

-24

In [62]:
def palindrome(s):
    new=s[::-1]
    if new==s:
        print('Palindrome')
    else: 
        return('not')

In [64]:
palindrome('helle')

'not'

In [1]:
lst = [1,3,2,5,6,8,4,33,10,12,15,19,85,45,100]
even=[]
odd=[]
for i in lst:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i) 
print(even)
print(odd)

[2, 6, 8, 4, 10, 12, 100]
[1, 3, 5, 33, 15, 19, 85, 45]

In [26]:
r1={1:' ',2:' ',3:' '}
r2={1:' ',2:' ',3:' '}
r3={1:' ',2:' ',3:' '}
print(r1.values())
print(r2.values())
print(r3.values())
count=1
X_won=0
O_won=0
while count<=9:
    print(f'Round {count}')
    r=input("Enter row:")
    c=int(input("Enter column:"))
    if count%2!=0:
        print("X's turn" )
        if r=='r1':
            r1[c]='x'
            if (r1[1]=='x' and r2[2]=='x' and r3[3]=='x') or (r1[3]=='x'and r2[2]=='x' and r3[1]=='x') or (r1[1]=='x' and r1[2]=='x' and r1[3]=='x') or (r2[1]=='x' and r2[2]=='x' and r2[3]=='x') or (r3[1]=='x' and r3[2]=='x' and r3[3]=='x') or (r1[1]=='x' and r2[1]=='x' and r3[1]=='x') or (r1[2]=='x' and r2[2]=='x' and r3[2]=='x') or (r1[3]=='x' and r2[3]=='x' and r3[3]=='x'):
                X_won+=1
                break
            else:
                pass
        elif r=='r2':
            r2[c]='x'
            if (r1[1]=='x' and r2[2]=='x' and r3[3]=='x') or (r1[3]=='x'and r2[2]=='x' and r3[1]=='x') or (r1[1]=='x' and r1[2]=='x' and r1[3]=='x') or (r2[1]=='x' and r2[2]=='x' and r2[3]=='x') or (r3[1]=='x' and r3[2]=='x' and r3[3]=='x') or (r1[1]=='x' and r2[1]=='x' and r3[1]=='x') or (r1[2]=='x' and r2[2]=='x' and r3[2]=='x') or (r1[3]=='x' and r2[3]=='x' and r3[3]=='x'):
                X_won+=1
                break
            else:
                pass
        elif r=='r3':
            r3[c]='x'
            if (r1[1]=='x' and r2[2]=='x' and r3[3]=='x') or (r1[3]=='x'and r2[2]=='x' and r3[1]=='x') or (r1[1]=='x' and r1[2]=='x' and r1[3]=='x') or (r2[1]=='x' and r2[2]=='x' and r2[3]=='x') or (r3[1]=='x' and r3[2]=='x' and r3[3]=='x') or (r1[1]=='x' and r2[1]=='x' and r3[1]=='x') or (r1[2]=='x' and r2[2]=='x' and r3[2]=='x') or (r1[3]=='x' and r2[3]=='x' and r3[3]=='x'):
                X_won+=1
                break
            else:
                pass
        else:
            print('wrong input. Try again')
            continue
    else:
        print("O's turn" )
        if r=='r1':
            r1[c]='o'
            if (r1[1]=='o' and r2[2]=='o' and r3[3]=='o') or (r1[3]=='o'and r2[2]=='o' and r3[1]=='o') or (r1[1]=='o' and r1[2]=='o' and r1[3]=='o') or (r2[1]=='o' and r2[2]=='o' and r2[3]=='o') or (r3[1]=='o' and r3[2]=='o' and r3[3]=='o') or (r1[1]=='o' and r2[1]=='o' and r3[1]=='o') or (r1[2]=='o' and r2[2]=='o' and r3[2]=='o') or (r1[3]=='o' and r2[3]=='o' and r3[3]=='o'):
                O_won+=1
                break
            else:
                pass  
        elif r=='r2':
            r2[c]='o'
            if (r1[1]=='o' and r2[2]=='o' and r3[3]=='o') or (r1[3]=='o'and r2[2]=='o' and r3[1]=='o') or (r1[1]=='o' and r1[2]=='o' and r1[3]=='o') or (r2[1]=='o' and r2[2]=='o' and r2[3]=='o') or (r3[1]=='o' and r3[2]=='o' and r3[3]=='o') or (r1[1]=='o' and r2[1]=='o' and r3[1]=='o') or (r1[2]=='o' and r2[2]=='o' and r3[2]=='o') or (r1[3]=='o' and r2[3]=='o' and r3[3]=='o'):
                O_won+=1
                break
            else:
                pass
        elif r=='r3':
            r3[c]='o'
            if (r1[1]=='o' and r2[2]=='o' and r3[3]=='o') or (r1[3]=='o'and r2[2]=='o' and r3[1]=='o') or (r1[1]=='o' and r1[2]=='o' and r1[3]=='o') or (r2[1]=='o' and r2[2]=='o' and r2[3]=='o') or (r3[1]=='o' and r3[2]=='o' and r3[3]=='o') or (r1[1]=='o' and r2[1]=='o' and r3[1]=='o') or (r1[2]=='o' and r2[2]=='o' and r3[2]=='o') or (r1[3]=='o' and r2[3]=='o' and r3[3]=='o'):
                O_won+=1
                break
            else:
                pass
        else:
            print('wrong input. Try again')
            continue
    
    print(r1.values())
    print(r2.values())
    print(r3.values())
    
    count+=1
print(r1.values())
print(r2.values())
print(r3.values())
if X_won>0:
    print('X won!!')
elif O_won>0:
    print('O won!!')
else:
    print('Draw')

dict_values([' ', ' ', ' '])
dict_values([' ', ' ', ' '])
dict_values([' ', ' ', ' '])
Round 1

ValueError: invalid literal for int() with base 10: ''

In [2]:
def triangle(s1,s2,s3):
    if s1>s2 and s1>s3:
        if s1<s2+s3:
            print('Forms triangle')
        else:
            print('not')
    elif s2>s3 and s2>s3:
        if s2<s1+s3:
            print('Forms triangle')
        else:
            print('not')
    elif s3>s2 and s3>s1:
        if s3<s2+s1:
            print('Forms triangle')
        else:
            print('not')
triangle(2,3,4)

Forms triangle

In [13]:
def coins(x,y,z):
    X,Y=0,0
    if z//5<=x:
        if z%5<=y:
            X=z//5
            Y=z%5
            print(X)
            print(Y)
        else:
            print('-1')
    else:
        if (z-(x*5))<=y:
            print(x)
            print(z-(x*5))
        else:
            print(-1)

coins(5,4,21)

4
1

In [3]:
class Cylinder:
    pi=3.14
    def __init__(self,height=1,radius=1):
        self.height=height
        self.radius=radius

        
    def volume(self):
        return self.pi*self.height*self.radius**2
    
    def surface_area(self):
        return 2*self.pi*self.radius*self.height+2*self.pi*self.radius**2

In [4]:
c = Cylinder(2,3)

In [5]:
c.volume()

56.52

In [6]:
c.surface_area()

94.2

In [16]:
class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1=coor1
        self.coor2=coor2
    
    def distance(self):
        return ((self.coor1[0]-self.coor2[0])**2+(self.coor1[1]-self.coor2[1])**2)**(1/2)
    
    def slope(self):
        return (self.coor2[1]-self.coor1[1])/(self.coor2[0]-self.coor1[0])

In [17]:
coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)
li.distance()

9.433981132056603

In [18]:
li.slope()

1.6

In [45]:
class Account:
    def __init__(self,owner,balance):
        self.owner=owner
        self.balance=balance
    def deposit(self,deposit):
        self.balance+=deposit
        return "Deposit Accepted"
    
    def withdraw(self,withdraw):
        if withdraw<=self.balance:
            self.balance=self.balance-withdraw
            return "Withdaw accepted"
        else:
            return "Funds insufficient"

    def __str__(self):
        return f"Account Owner : {self.owner}\nAccount balance : {self.balance}"

In [46]:
acct1 = Account('Jose',100)
print(acct1)

Account Owner : Jose
Account balance : 100

In [47]:
acct1.owner

'Jose'

In [48]:
acct1.balance

100

In [49]:

acct1.withdraw(205)

'Funds insufficient'

In [50]:
acct1.deposit(50)

'Deposit Accepted'

In [51]:
acct1.balance

150

In [52]:
acct1.withdraw(20)

'Withdaw accepted'

In [53]:
acct1.withdraw(90)

'Withdaw accepted'

In [54]:
acct1.balance

40

In [55]:
acct1.withdraw(50)

'Funds insufficient'

In [2]:
try:
    for i in ['a','b','c']:
        print(i**2)
except TypeError:
    print('There is a TypeError')

There is a TypeError

In [3]:
try:  
    x = 5
    y = 0

    z = x/y
except ZeroDivisionError:
    print('Cannot be divided by zero')
finally:
    print('All Done')

Cannot be divided by zero
All Done

In [7]:
def ask():
    while True:
        try:
            num=int(input('Enter an integer:'))
        except:
            print('An error occured! Please try again!')
            continue
        else:
            print(f'Thank you! Your number squared is :{num**2}')
            break

In [11]:
ask()

Thank you! Your number squared is :4624